@import "tailwindcss";


:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: #111827; /* Dark Gray */
  --text-color: white;
}

/* Apply global background and text color */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}